body {
    background-color: white;
}
.container-fluid {
    background-image: url("../images/img1.jpg");
    background-size:cover;
    width: 100vw;
    height: 100vh;
}

#first {
    align-content: center;
    color: white;
    text-align: center;
}

#logo {
     margin-top:18.5%;
     margin-left:44%;
}

#first h1 {
     margin-top:1.7%;
     margin-left:33%;
     line-height: 70px;
     /* font-weight: bold; */
}

#click {
    margin-top:10%;
    /* padding-right:5px; */
}
 
 #intro {
    margin-left:22%;
    text-transform: uppercase;
}


.container-full-1 {
    background-image: url("..images/img1.jpg");
    background-size:cover;
    width: 100vw;
    height: 100vh;
}

.container-full-2 {
    background-color: aliceblue;
    background-size:cover;
    width: 100vw;
    height: 100vh;

}