body {
    background-color: white;
}
.container-fluid {
    background-image: url("../images/img1.jpg");
    background-size:cover;
    width: 100vw;
    height: 100vh;
}

#first {
    align-content: center;
    color: white;
    text-align: center;
}

#logo {
     margin-top:18.5%;
     margin-left:44%;
}

#first h1 {
     margin-top:1.7%;
     margin-left:33%;
     line-height: 70px;
     /* font-weight: bold; */
}

.click {
    margin-top:7%;
    /* margin-right:95px;
    position: initial; */
}
 
 #intro {
    margin-left:22%;
    text-transform: uppercase;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#two {
    margin-top:70px;
}

#content {
    text-align: center;
    line-height: 35px;

}

#about {
    margin-left:40%;
    text-transform: uppercase;
}


